<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="side_extrusion_20" params="parent x y z roll pitch yaw">

    <link name="side_extrusion_20">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh
            filename="file://$(find ur3e_description)/meshes/side_extrusion_20/visual/side_extrusion_20.obj"
            scale="0.001 0.001 0.000667"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh
            filename="file://$(find ur3e_description)/meshes/side_extrusion_20/collision/side_extrusion_20.stl"
            scale="0.001 0.001 0.000667"/>
        </geometry>
      </collision>
    </link>

    <joint name="side_extrusion_mount_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="side_extrusion_20"/>
      <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
    </joint>

  </xacro:macro>

</robot>
