<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur3e">
   <!-- robot name parameter -->
   <xacro:arg name="name" default="ur3e"/>
   <!-- import main macro -->
   <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

   <!-- possible 'ur_type' values: ur3, ur3e, ur5, ur5e, ur7e, ur10, ur10e, ur12e, ur16e, ur20, ur30 -->
   <!-- the default value should raise an error in case this was called without defining the type -->
   <xacro:arg name="ur_type" default="ur3e"/>

   <!-- Extrusion -->
  <!-- NOTE: this is for a right-mounted camera wrt robot base; maybe need to adjust rpy: 2.03 0.0 1.57 -->
  <!-- Flip the sign for extrusion_x if your camera is mounted on the left; extrusion_z is the height of the camera optical axis from the table -->
  <xacro:arg name="extrusion_x" default="0.58"/>
  <xacro:arg name="extrusion_y" default="0.533"/>
  <xacro:arg name="extrusion_z" default="0.50"/>
  <xacro:arg name="extrusion_width" default="0.04"/>

  <xacro:arg name="extrusion_roll" default="0.0"/>
  <xacro:arg name="extrusion_pitch" default="0.0"/>
  <xacro:arg name="extrusion_yaw" default="0.0"/>

  <xacro:arg name="cam_offset_x" default="0.002"/>
  <xacro:arg name="cam_offset_y" default="0.0"/>
  <xacro:arg name="cam_offset_z" default="0.0"/>
    <xacro:arg name="camera_x" default="0.0"/>
  <xacro:arg name="camera_y" default="0.0"/>
  <xacro:arg name="mount_height" default="0.467"/>
  <xacro:arg name="camera_roll" default="0.0"/>
  <xacro:arg name="camera_pitch" default="0.32"/>
  <xacro:arg name="camera_yaw" default="-3.14"/>

  <xacro:arg name="realsense_width" default="0.09"/>
  <xacro:arg name="realsense_depth" default="0.025"/>
  <xacro:arg name="realsense_height" default="0.025"/>

  <xacro:property name="cam_offset_x" value="$(arg cam_offset_x)"/>
  <xacro:property name="cam_offset_y" value="$(arg cam_offset_y)"/>
  <xacro:property name="cam_offset_z" value="$(arg cam_offset_z)"/>
  <xacro:property name="camera_x" value="$(arg camera_x)"/>
  <xacro:property name="camera_y" value="$(arg camera_y)"/>
  <xacro:property name="mount_height" value="$(arg mount_height)"/>
  <xacro:property name="camera_roll" value="$(arg camera_roll)"/>
  <xacro:property name="camera_pitch" value="$(arg camera_pitch)"/>
  <xacro:property name="camera_yaw" value="$(arg camera_yaw)"/>
  <xacro:property name="extrusion_x" value="$(arg extrusion_x)"/>
  <xacro:property name="extrusion_y" value="$(arg extrusion_y)"/>
  <xacro:property name="extrusion_z" value="$(arg extrusion_z)"/>
  <xacro:property name="extrusion_roll" value="$(arg extrusion_roll)"/>
  <xacro:property name="extrusion_pitch" value="$(arg extrusion_pitch)"/>
  <xacro:property name="extrusion_yaw" value="$(arg extrusion_yaw)"/>
  <xacro:property name="extrusion_width" value="$(arg extrusion_width)"/>

   <!-- parameters -->
   <xacro:arg name="tf_prefix" default="" />
   <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
   <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
   <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
   <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
   <xacro:arg name="transmission_hw_interface" default=""/>
   <xacro:arg name="safety_limits" default="false"/>
   <xacro:arg name="safety_pos_margin" default="0.15"/>
   <xacro:arg name="safety_k_position" default="20"/>
   <!-- ros2_control related parameters -->
   <xacro:arg name="headless_mode" default="false" />
   <xacro:arg name="robot_ip" default="192.168.77.22" />
   <xacro:arg name="script_filename" default=""/>
   <xacro:arg name="output_recipe_filename" default=""/>
   <xacro:arg name="input_recipe_filename" default=""/>
   <xacro:arg name="reverse_ip" default="0.0.0.0"/>
   <xacro:arg name="script_command_port" default="50004"/>
   <xacro:arg name="reverse_port" default="50001"/>
   <xacro:arg name="script_sender_port" default="50002"/>
   <xacro:arg name="trajectory_port" default="50003"/>
   <!--   tool communication related parameters-->
   <xacro:arg name="use_tool_communication" default="false" />
   <xacro:arg name="tool_voltage" default="0" />
   <xacro:arg name="tool_parity" default="0" />
   <xacro:arg name="tool_baud_rate" default="115200" />
   <xacro:arg name="tool_stop_bits" default="1" />
   <xacro:arg name="tool_rx_idle_chars" default="1.5" />
   <xacro:arg name="tool_tx_idle_chars" default="3.5" />
   <xacro:arg name="tool_device_name" default="/tmp/ttyUR" />
   <xacro:arg name="tool_tcp_port" default="54321" />

     <!-- Simulation parameters -->
   <xacro:arg name="use_fake_hardware" default="false" />
   <xacro:arg name="fake_sensor_commands" default="false" />
   <xacro:arg name="sim_gazebo" default="false" />
   <xacro:arg name="sim_ignition" default="false" />
   <xacro:arg name="simulation_controllers" default="" />

   <!-- initial position for simulations (Fake Hardware, Gazebo, Ignition) -->
   <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>

   <!-- convert to property to use substitution in function -->
   <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>
   <xacro:property name="is_sim_gazebo" value="$(arg sim_gazebo)"/>
   <xacro:property name="is_sim_ignition" value="$(arg sim_ignition)"/>

   <!-- create link fixed to the "world" -->
   <link name="world" />

   <xacro:if value="${is_sim_gazebo or is_sim_ignition}">
     <link name="ground_plane">
       <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
           <box size="5 5 0"/>
         </geometry>
         <material name="ground_white">
           <color rgba="1 1 1 0.5"/>
         </material>
       </visual>
       <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
           <box size="5 5 0"/>
         </geometry>
       </collision>
     </link>

     <joint name="ground_plane_joint" type="fixed">
       <origin xyz="0 0 -0.01" rpy="0 0 0"/>
       <parent link="world"/>
       <child link="ground_plane"/>
     </joint>
   </xacro:if>

   <!-- arm -->
   <xacro:ur_robot
     name="$(arg name)"
     tf_prefix="$(arg tf_prefix)"
     parent="world"
     joint_limits_parameters_file="$(arg joint_limit_params)"
     kinematics_parameters_file="$(arg kinematics_params)"
     physical_parameters_file="$(arg physical_params)"
     visual_parameters_file="$(arg visual_params)"
     transmission_hw_interface="$(arg transmission_hw_interface)"
     safety_limits="$(arg safety_limits)"
     safety_pos_margin="$(arg safety_pos_margin)"
     safety_k_position="$(arg safety_k_position)"
     use_fake_hardware="$(arg use_fake_hardware)"
     fake_sensor_commands="$(arg fake_sensor_commands)"
     sim_gazebo="$(arg sim_gazebo)"
     sim_ignition="$(arg sim_ignition)"
     headless_mode="$(arg headless_mode)"
     initial_positions="${xacro.load_yaml(initial_positions_file)}"
     use_tool_communication="$(arg use_tool_communication)"
     tool_voltage="$(arg tool_voltage)"
     tool_parity="$(arg tool_parity)"
     tool_baud_rate="$(arg tool_baud_rate)"
     tool_stop_bits="$(arg tool_stop_bits)"
     tool_rx_idle_chars="$(arg tool_rx_idle_chars)"
     tool_tx_idle_chars="$(arg tool_tx_idle_chars)"
     tool_device_name="$(arg tool_device_name)"
     tool_tcp_port="$(arg tool_tcp_port)"
     robot_ip="$(arg robot_ip)"
     script_filename="$(arg script_filename)"
     output_recipe_filename="$(arg output_recipe_filename)"
     input_recipe_filename="$(arg input_recipe_filename)"
     reverse_ip="$(arg reverse_ip)"
     script_command_port="$(arg script_command_port)"
     reverse_port="$(arg reverse_port)"
     script_sender_port="$(arg script_sender_port)"
     trajectory_port="$(arg trajectory_port)"
     >
     <origin xyz="0 0 0.7" rpy="0 0 0" />          <!-- position robot in the world -->
   </xacro:ur_robot>

   <xacro:if value="$(arg sim_gazebo)">
    <!-- Gazebo plugins -->
    <gazebo reference="world">
    </gazebo>
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(arg simulation_controllers)</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

  <xacro:if value="$(arg sim_ignition)">
    <!-- Gazebo plugins -->
    <gazebo reference="world">
    </gazebo>
    <gazebo>
      <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(arg simulation_controllers)</parameters>
        <controller_manager_node_name>$(arg tf_prefix)controller_manager</controller_manager_node_name>
      </plugin>
    </gazebo>
  </xacro:if>

  <!-- Import table -->
   <xacro:include filename="$(find ur3e_description)/urdf/table.urdf"/>

  <!-- Joint between table and ur -->
  <joint name="table_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="table"/>
    </joint>

    <!-- Include mount -->
  <xacro:include filename="$(find ur3e_description)/urdf/side_extrusion_20.urdf.xacro"/>

  <!-- Instantiate mount -->
  <xacro:side_extrusion_20 
    parent="table"
    x="$(arg extrusion_x)"
    y="$(arg extrusion_y)"
    z="$(arg extrusion_z)"
    roll="$(arg extrusion_roll)"
    pitch="$(arg extrusion_pitch)"
    yaw="$(arg extrusion_yaw)"
  />

  <!-- Import realsense -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>

  <!-- Use the sensor_d435i macro with a unique name (camera_top)-->
  <!-- <xacro:sensor_d435i parent="world" name="camera1">
      <origin rpy="0.0 0.4712 1.57" xyz="0.381 -0.125 0.415925"/>  
  </xacro:sensor_d435i> -->

  <!-- Use the sensor_d435i macro; this is the camera on the right; add a unique namespace (e.g. camera2) if using both cameras-->
 <xacro:sensor_d435i parent="table" use_nominal_extrinsics="true" add_plug="true" use_mesh="true" publish_pointcloud="true">
      <origin
      xyz="${cam_offset_x} ${cam_offset_y} ${mount_height}"
      rpy="${camera_roll} ${camera_pitch} ${camera_yaw}"
      />   
  </xacro:sensor_d435i>

  <!-- <xacro:sensor_d435i parent="table" use_nominal_extrinsics="true" add_plug="true" use_mesh="true" publish_pointcloud="true">
      <origin rpy="0.0 0.5 -3.14" xyz="0.555 0.5333 0.467"/>  
  </xacro:sensor_d435i> -->

  <!-- <link name="camera_optical_link"/>
  <joint name="align_camera_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_optical_link"/>
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${pi}"/> 
  </joint> -->
<!-- sim: -3.14 -1.57 1.57; recc: ${-pi/2} 0 ${-pi/2}--> 

<link name="back_wall">
  <visual>
    <origin xyz="-0.13 0.0 0.50" rpy="0 0 0"/>
    <geometry>
      <box size="0.05 1.5 1.0"/> <!-- thickness, width, height -->
    </geometry>
    <material name="gray">
      <color rgba="0.6 0.6 0.6 1.0"/>
    </material>
  </visual>
  <collision>
    <origin xyz="-0.13 0.0 0.50" rpy="0 0 0"/>
    <geometry>
      <box size="0.05 1.5 1.0"/>
    </geometry>
  </collision>
</link>

<joint name="back_wall_fixed" type="fixed">
  <parent link="base_link"/>
  <child link="back_wall"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>


</robot>