<?xml version="1.0"?>

<model>
  <name>d435_mount</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Me</name>
    <email>name@email.address</email>
  </author>

  <description>
    Mount for attaching the Intel RealSense D435i camera to the aluminium profile
  </description>
</model>
