<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Properties -->
  <xacro:property name="default_initial_positions_file" value="$(find ur3e_hande_description)/config/initial_positions.yaml"/>

  <!-- UR3e ROS 2 Control Macro -->
  <xacro:macro name="ros2_control_ur3e_arm" params="
    name:=ur3e_arm_system
    plugin:=gz_ros2_control/GazeboSimSystem
    command_interface:=position
    initial_positions_file:=${default_initial_positions_file}
  ">
    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']['ur3e']}"/>

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>${plugin}</plugin>
      </hardware>

      <!-- UR3e Joints -->
      <joint name="shoulder_pan_joint">
        <command_interface name="${command_interface}"/>
        <command_interface name ="velocity"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['shoulder_pan_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="shoulder_lift_joint">
        <command_interface name="${command_interface}"/>
        <command_interface name ="velocity"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['shoulder_lift_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="elbow_joint">
        <command_interface name="${command_interface}"/>
        <command_interface name ="velocity"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['elbow_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="wrist_1_joint">
        <command_interface name="${command_interface}"/>
        <command_interface name ="velocity"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['wrist_1_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="wrist_2_joint">
        <command_interface name="${command_interface}"/>
        <command_interface name ="velocity"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['wrist_2_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="wrist_3_joint">
        <command_interface name="${command_interface}"/>
        <command_interface name ="velocity"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['wrist_3_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>
  </xacro:macro>

  <!-- Hand-E Gripper -->
  <xacro:macro name="ros2_control_hande_gripper" params="
    name:=hande_gripper_system
    plugin:=gz_ros2_control/GazeboSimSystem
    command_interface:=position
    initial_positions_file:=${default_initial_positions_file}
  ">
    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']['hande']}"/>

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>${plugin}</plugin>
      </hardware>

      <joint name="gripper_robotiq_hande_left_finger_joint">
        <command_interface name="${command_interface}"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['gripper_robotiq_hande_left_finger_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="gripper_robotiq_hande_right_finger_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <!-- Right finger will be handled by mimic plugin in Gazebo Sim, not controlled directly here -->
    </ros2_control>
  </xacro:macro>

</robot>
