<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur3e_hande">

  <!-- ros2 control -->
  <xacro:include filename="$(find ur3e_hande_description)/urdf/ur3e_hande.ros2_control.xacro"/>

  <!-- camera -->
  <xacro:include filename="$(find ur3e_hande_description)/urdf/sensors/camera.urdf.xacro"/>

  <!-- UR3e -->
  <xacro:include filename="$(find ur3e_hande_description)/urdf/ur3e.urdf.xacro"/>

    <!-- Hand-E -->
  <xacro:include filename="$(find robotiq_hande_description)/urdf/robotiq_hande_gripper.xacro"/>

  <!-- Table -->
  <xacro:include filename="$(find ur3e_hande_description)/urdf/table.urdf.xacro"/>

    <!-- include urdf for the camera mount -->
  <xacro:include filename="$(find ur3e_hande_description)/urdf/side_extrusion_20.urdf"/>

  <!-- insert hand-e using the macro -->
  <xacro:robotiq_hande_gripper
    name="robotiq_hande"
    prefix="gripper_"
    parent="tool0"
    grip_pos_min="0.0"
    grip_pos_max="0.025"
    tty="/dev/ttyUSB0"
    baudrate="115200"
    parity="0"
    data_bits="8"
    stop_bit="1"
    slave_id="9"
    use_fake_hardware="true"
  />

  <joint name="ur3e_table_joint" type="fixed">
    <parent link="base_link"/>
    <child link="table"/>
    <origin xyz="0 0 -0" rpy="0 0 0"/>
  </joint>

  <!-- joint between the table and side extrusion -->
  <joint name="side_extrusion_table_joint" type="fixed">
      <parent link="table"/>
      <child link="side_extrusion_20"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint> 

  <!-- Joint between camera and side extrusion -->
  <joint name="camera_joint" type="fixed">
    <parent link="side_extrusion_20" />
    <child link="camera_bottom_screw_frame" />
    <origin rpy="2.03 0.0 1.57" xyz="-0.5562625 0.542925 0.30"/>  
  </joint>

  <!-- ROS 2 control -->
  <xacro:ros2_control_ur3e_arm />
  <xacro:ros2_control_hande_gripper />
    
  <!-- Gazebo Sim plugin for RGB camera -->
  <gazebo>
      <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>
  </gazebo>

  <gazebo reference="camera_optical_link">
      <sensor name="camera" type="rgbd_camera">
        <frame_id>camera_depth_optical_frame</frame_id>
        <camera>
         <optical_frame_id>camera_optical_link</optical_frame_id>
          <horizontal_fov>1.5707963267948966</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>RGB_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100.0</far>
          </clip>
          <depth_camera>
          <optical_frame_id>camera_depth_optical_frame</optical_frame_id>
            <clip>
              <near>0.1</near>
              <far>100.0</far>
            </clip>
          </depth_camera>
          <distortion>
            <k1>0.0</k1>
            <k2>0.0</k2>
            <k3>0.0</k3>
            <p1>0.0</p1>
            <p2>0.0</p2>
            <center>0.5 0.5</center>
          </distortion>
          <lens>
            <intrinsics>
              <fx>642.312133789062</fx>
              <fy>642.312133789062</fy>
              <cx>636.720153808594</cx>
              <cy>370.6181640625</cy>
              <s>0</s>
            </intrinsics>
          </lens>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>5</update_rate>
        <visualize>false</visualize>
        <topic>rgbd_camera</topic>
        <enable_metrics>true</enable_metrics>
      </sensor>
  </gazebo>

  <!-- <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
        <joint_name>shoulder_pan_joint</joint_name>
        <joint_name>shoulder_lift_joint</joint_name>
        <joint_name>elbow_joint</joint_name>
        <joint_name>wrist_1_joint</joint_name>
        <joint_name>wrist_2_joint</joint_name>
        <joint_name>wrist_3_joint</joint_name>
        <joint_name>gripper_robotiq_hande_left_finger_joint</joint_name>
        <topic>/joint_states</topic>
    </plugin>
  </gazebo> -->

  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find ur3e_hande_description)/config/controllers_sim.yaml</parameters>
    </plugin>
  </gazebo>
   
  <gazebo reference="table">
    <self_collide>1</self_collide>
    <minDepth>0.01</minDepth>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <restitution_coefficient>0.0</restitution_coefficient>
    <bounce_threshold>0.0</bounce_threshold>
  </gazebo> 

  <gazebo reference="shoulder_link">
    <self_collide>1</self_collide>
    <minDepth>0.01</minDepth>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <restitution_coefficient>0.0</restitution_coefficient>
    <bounce_threshold>0.0</bounce_threshold>
  </gazebo>

  <gazebo reference="upper_arm_link">
    <self_collide>1</self_collide>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <restitution_coefficient>0.0</restitution_coefficient>
    <bounce_threshold>0.0</bounce_threshold>
  </gazebo>

  <gazebo reference="forearm_link">
    <self_collide>1</self_collide>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <restitution_coefficient>0.0</restitution_coefficient>
    <bounce_threshold>0.0</bounce_threshold>
  </gazebo>

  <gazebo reference="wrist_1_link">
    <self_collide>1</self_collide>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <restitution_coefficient>0.0</restitution_coefficient>
    <bounce_threshold>0.0</bounce_threshold>
  </gazebo>

  <gazebo reference="wrist_2_link">
    <self_collide>1</self_collide>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <restitution_coefficient>0.0</restitution_coefficient>
    <bounce_threshold>0.0</bounce_threshold>
  </gazebo>

  <gazebo reference="wrist_3_link">
    <self_collide>1</self_collide>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <restitution_coefficient>0.0</restitution_coefficient>
    <bounce_threshold>0.0</bounce_threshold>
  </gazebo>

</robot>