# Ignore Visual Studio Code settings
**.vscode

# Ignore Python cache files
**__pycache__/
**.pyc
**.pyo
**.pyd
**.db
**.log
**log/
**build/
**install/

# Ignore Jupyter Notebook checkpoints
**.ipynb_checkpoints

# **src/
**realsense/
**/docs
Lab_7_Autonomous_Manipulation_on_the_Real_Robot.pdf
yolov8n.pt 
**src/ur3e_hande/ur3e_hande_perception/scripts/pc_segmentation_node_o3d.py
**src/ur3e_hande/ur3e_hande_perception/scripts/yolo_pc_pose_estimation.py
src/ur3e_hande/ur3e_hande_perception/image.png