<?xml version="1.0"?>

<model>
  <name>inspire_hand_right</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>enee467</name>
    <email>name@email.address</email>
  </author>

  <description>
    Right-hand Inspire anthropomorphic gripper.
  </description>
</model>
