<?xml version="1.0" ?>
<robot name="camera" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="camera_bottom_screw_frame">
      <visual>
        <geometry>
          <mesh filename="file://$(find ur3e_hande_description)/meshes/sensors/d435.dae" />
        </geometry>
      </visual>
      <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 -1.5707963"/>
      <geometry>
          <box size="0.02505 0.090 0.02505"/>
      </geometry>
      </collision>
      <inertial>
          <!-- The following are not reliable values, and should not be used for modeling -->
          <mass value="0.072" />
          <origin xyz="0.2 0 0" rpy="0 0 0"/>
          <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.000498940" iyz="0.0" izz="0.003879257" />
        </inertial>
    </link>

  <!-- Dummy camera link to reorient sensor frames correctly -->
  <link name="camera_optical_link"/>
  <joint name="dummy_camera_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_optical_link"/>
    <origin xyz="0 0 0" rpy="-3.14 -1.57 1.57"/> <!-- only cloud is off; previously: ${-pi/2} 0 ${-pi/2}--> 
  </joint>

  <link name="camera_link"/>

  <link name="camera_depth_frame"/>

  <link name="camera_depth_optical_frame"/>

  <link name="camera_color_frame"/>

  <link name="camera_color_optical_frame"/>

  <joint name="camera_link_joint" type="fixed">
    <parent link="camera_bottom_screw_frame" />
    <child link="camera_link" />
    <origin xyz="0 0.0175 0.0125" rpy="0 0 0"/>
  </joint>

  <joint name="camera_depth_joint" type="fixed">
    <parent link="camera_link" />
    <child link="camera_depth_frame" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="camera_depth_optical_joint" type="fixed">
    <parent link="camera_depth_frame" />
    <child link="camera_depth_optical_frame" />
    <origin xyz="0 0 0" rpy="-1.5707963 0 -1.5707963"/>
  </joint>

  <joint name="camera_color_joint" type="fixed">
    <parent link="camera_link" />
    <child link="camera_color_frame" />
    <origin xyz="0 0.015 0" rpy="0 0 0"/>
  </joint>

  <joint name="camera_color_optical_joint" type="fixed">
    <parent link="camera_color_frame" />
    <child link="camera_color_optical_frame" />
    <origin xyz="0 0 0" rpy="-1.5707963 0 -1.5707963"/>
  </joint>
  </robot>