<?xml version="1.0" ?>
<model>
    <name>ur3e_leap_hand_right</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>enee467</name>
        <email></email>
    </author>
    <description>Model file for the UR3e-LEAP hand manipulator.</description>
</model>
