<?xml version="1.0"?>

<model>
  <name>vention_table</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Author</name>
    <email>author@email.com</email>
  </author>

  <description>
    Vention table for mounting the UR3e-leap setup.
  </description>
</model>
