<?xml version="1.0"?>

<model>
  <name>camera_mount</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Me</name>
    <email>name@email.address</email>
  </author>

  <description>
    Custom articulated-ish mount for the Intel RealSense D435i camera.
  </description>
</model>
